[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BLOQ"]
	path = BLOQ
	url = https://github.com/cran/BLOQ
[submodule "clustDRM"]
	path = clustDRM
	url = https://github.com/cran/clustDRM
